trailingComma: "all"
arrowParens: "always"
printWidth: 80
tabWidth: 2
useTabs: false
singleQuote: true
semi: true
rangeStart: 0
parser: "typescript"
htmlWhitespaceSensitivity: "css"
embeddedLanguageFormatting: "auto"
endOfLine: "lf"
